.error-box{
  padding-left: 17px;
  color: #f53d3d;
  font-size: 0.9em;
}

.error-star{
  color: #f53d3d;
  font-weight: bold;
}

.form {
  .item {
    color: courant;
  }
  .content {
    background-color: #ccc;
  }
}
