<ion-navbar *navbar primary>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <p text-center>
      <img text-center src="img/logoLuenceTransparentHeader.png" style="max-height: 55px; padding: 5px;">
    </p>
</ion-navbar>

<ion-content padding>
  <h2 primary text-center text-uppercase>
      Liste des articles:
  </h2>
  <!-- Spinning icon when loading -->
  <p text-center>
    <ion-spinner *ngIf="isLoading" icon="spiral"></ion-spinner>
  </p>

  <ion-list padding>

    <ion-item  *ngFor="let obj of response">
      <h2  text-center>
        <b bluegray [innerHTML]="obj.title.rendered"></b>
      </h2>
      <p text-center primary>{{ obj.date  | dateString:"MM/dd/yy"}}</p>
      <br />
      <!-- <p courant text-justify [innerHTML]="obj.content.rendered"></p>
      <br /> -->
      <div style="width:50%;margin:auto">
        <button block (click)="toDetail($event, obj)">Voir l'article</button>
      </div>
    </ion-item>

  </ion-list>
</ion-content>
